@if (isAddModalOpen) {
<div
  class="fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center z-50"
>
  <div class="overflow-y-auto bg-white p-6 w-2/3 h-4/5 h-full">
    <h2 class="text-base/7 font-semibold text-gray-500 justify-center">
      AGREGAR PRODUCTO
    </h2>

    <form (ngSubmit)="saveNewProduct()">
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-6">
        <!-- code -->

        <div class="sm:col-span-2 sm:col-start-1">
          <label for="code" class="block text-sm/6 font-medium text-gray-900"
            >Codigo</label
          >
          <div class="mt-2">
            <input
              [(ngModel)]="newProduct.code"
              type="text"
              name="code"
              id="code"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
              required
            />
          </div>
        </div>

        <!-- brand -->

        <div class="sm:col-span-2">
          <label for="brand" class="block text-sm/6 font-medium text-gray-900"
            >Marca</label
          >
          <div class="mt-2">
            <input
              [(ngModel)]="newProduct.brand"
              type="text"
              name="brand"
              id="brand"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
              required
            />
          </div>
        </div>

        <!-- model -->

        <div class="sm:col-span-2">
          <label for="model" class="block text-sm/6 font-medium text-gray-900"
            >Modelo</label
          >
          <div class="mt-2">
            <input
              [(ngModel)]="newProduct.model"
              type="text"
              name="model"
              id="model"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
              required
            />
          </div>
        </div>

        <!-- name -->

        <div class="sm:col-span-4">
          <label for="name" class="block text-sm/6 font-medium text-gray-900"
            >Nombre</label
          >
          <div class="mt-2">
            <input
              [(ngModel)]="newProduct.name"
              id="name"
              name="name"
              type="text"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
              required
            />
          </div>
        </div>

        <!-- supplier -->

        <div class="sm:col-span-2">
          <label
            for="supplier"
            class="block text-sm/6 font-medium text-gray-900"
            >Vendido por:</label
          >
          <div class="mt-2">
            <input
              [(ngModel)]="newProduct.supplier"
              type="text"
              name="supplier"
              id="supplier"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
              required
            />
          </div>
        </div>

        <!-- color -->

        <div class="sm:col-span-2 sm:col-start-1">
          <label for="color" class="block text-sm/6 font-medium text-gray-900"
            >color</label
          >
          <div class="mt-2 grid grid-cols-1">
            <select
              [(ngModel)]="newProduct.color"
              id="color"
              name="color"
              class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
            >
              <option>Negro</option>
              <option>Blanco</option>
              <option>Gris</option>
              <option>Azul</option>
              <option>Rojo</option>
              <option>Verde</option>
              <option>Amarillo</option>
              <option>Transparente</option>
            </select>
          </div>
        </div>

        <!-- size -->

        <div class="sm:col-span-2">
          <label for="size" class="block text-sm/6 font-medium text-gray-900"
            >Tamaño</label
          >
          <div class="mt-2">
            <input
              [(ngModel)]="newProduct.size"
              type="text"
              name="size"
              id="size"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
            />
          </div>
        </div>

        <!-- price -->

        <div class="sm:col-span-2">
          <label for="price" class="block text-sm/6 font-medium text-gray-900"
            >Precio</label
          >
          <div class="mt-2">
            <input
              [(ngModel)]="newProduct.price"
              type="number"
              name="price"
              id="price"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
            />
          </div>
        </div>

        <!-- information -->

        <div class="sm:col-span-4 sm:col-start-1">
          <label
            for="information"
            class="block text-sm/6 font-medium text-gray-900"
            >Información</label
          >
          <div class="mt-2">
            <input
              [(ngModel)]="newProduct.information"
              placeholder="Ingrese una URL"
              type="text"
              name="information"
              id="information"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
            />
          </div>
        </div>

        <!-- stock -->

        <div class="sm:col-span-2">
          <label for="stock" class="block text-sm/6 font-medium text-gray-900"
            >Cantidad</label
          >
          <div class="mt-2">
            <input
              [(ngModel)]="newProduct.stock"
              type="number"
              name="stock"
              id="stock"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
            />
          </div>
        </div>

        <!-- description -->

        <div class="col-span-full">
          <label
            for="description"
            class="block text-sm/6 font-medium text-gray-900"
            >Descripción</label
          >
          <div class="mt-2">
            <textarea
              [(ngModel)]="newProduct.description"
              id="description"
              name="description"
              rows="2"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
            ></textarea>
          </div>
        </div>

        <!-- category -->
        <div class="sm:col-span-full">
          <div class="sm:col-span-2">
            <label
              for="category"
              class="block text-sm/6 font-medium text-gray-900"
              >Categoria</label
            >
            <div class="mt-2 grid grid-cols-1">
              <select
                id="category"
                name="category"
                (change)="onCategorySelected($event)"
                class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
              >
                <option value="" disabled selected>
                  Selecciona una categoría
                </option>
                <option>2024</option>
                <option>Laptop</option>
                <option>Comedor</option>
                <option>Computadora</option>
                <option>Accseorios</option>
                <option>Zapatillas</option>
                <option>Herramientas</option>
                <option>Cocina</option>
              </select>
            </div>
          </div>

          <div
            class="mt-2 flex rounded-lg border border-dashed border-gray-900/25 px-6 py-10"
          >
            @for (category of selectedCategory; track category) {
            <div
              class="flex items-center bg-blue-100 text-blue-800 px-3 py-1 rounded-full shadow-sm"
            >
              <span class="text-sm font-medium">{{ category }}</span>
              <button
                type="button"
                class="ml-2 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs hover:bg-red-600"
                (click)="removeCategory(category)"
              >
                &times;
              </button>
            </div>
            }
          </div>
        </div>

        <!-- specifications -->

        <div class="col-span-full">
          <label
            for="specifications"
            class="block text-sm/6 font-medium text-gray-900"
            >Especificaciones</label
          >

          <input
            [(ngModel)]="newSpecKey"
            placeholder="Clave"
            name="specKey"
            class="w-1/3 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            type="text"
          />
          <!-- Input para el valor -->
          <input
            [(ngModel)]="newSpecValue"
            placeholder="Valor"
            name="specValue"
            class="w-1/3 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            type="text"
          />
          <!-- Botón para agregar -->
          <button
            type="button"
            (click)="addSpecification()"
            class="px-4 py-2 bg-blue-600 text-white font-medium rounded-md hover:bg-blue-700 focus:outline-none"
          >
            Agregar
          </button>

          <div
            class="mt-2 flex rounded-lg border border-dashed border-gray-900/25 px-6 py-10"
          >
            @if (specificationKeys.length) {@for (key of specificationKeys;
            track key) {
            <div
              class="flex items-center bg-blue-100 text-blue-800 px-3 py-1 rounded-full shadow-sm"
            >
              <div class="flex-grow bg-gray-100 px-3 py-1 rounded-md shadow-sm">
                <span class="font-medium text-gray-800">{{ key }}:</span>
                <span class="text-gray-600">{{ specifications[key] }}</span>
              </div>
              <button
                type="button"
                class="ml-2 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs hover:bg-red-600"
                (click)="removeSpecification(key)"
              >
                &times;
              </button>
            </div>
            } }
          </div>
        </div>

        <!-- Galería -->
        <div class="col-span-full">
          <div class="sm:col-span-3 justify-between">
            <label for="galery" class="text-sm font-medium text-gray-900"
              >Galería</label
            >
            <div class="flex items-center space-x-2">
              <label
                for="file-upload"
                class="sm:col-span-3 text-sm relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500"
              >
                <span>Upload a file</span>
                <input
                  (change)="onImageSelected($event)"
                  id="file-upload"
                  name="file-upload"
                  type="file"
                  class="sr-only"
                  accept="image/*"
                  multiple
                />
              </label>
              <p class="text-xs text-gray-600">PNG, JPG, GIF up to 10MB</p>
            </div>
          </div>

          <!-- Vista previa de imágenes seleccionadas -->
          <div
            class="mt-2 flex rounded-lg border border-dashed border-gray-900/25 px-6 py-10"
          >
            <!-- product of products; track product -->
            @for (image of selectedImages; track image;let i=$index) {
            <div
              class="relative border border-gray-300 rounded-md overflow-hidden"
              draggable="true"
              (dragstart)="onDragStart(i)"
              (drop)="onDrop(i)"
              (dragover)="$event.preventDefault()"
            >
              <img
                [src]="image.preview"
                alt="Vista previa de la imagen"
                class="object-cover w-24 h-full"
              />
              <button
                (click)="removeImage(image); $event.stopPropagation()"
                class="absolute top-2 right-2 bg-red-500 text-white rounded-full p-1 text-xs"
                aria-label="Eliminar imagen"
              >
                ✕
              </button>
            </div>
            }
          </div>
        </div>
      </div>

      <!-- Botones -->
      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button
          (click)="toggleAddModal(false)"
          type="button"
          class="text-sm font-semibold text-gray-900"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
}
